.header {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  padding-top: 1rem;
  font-size: 2rem;
  z-index: 1;

  div {
    cursor: pointer;
  }
}

.dark-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.moon {
  fill: currentColor;
}
.sun {
  fill: currentColor;
}
svg {
  height: 30%;
}

.hidden {
  display: none;
}
