.header {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  padding: 0 10%;
  padding-top: 1rem;
  font-size: 2rem;
  z-index: 1;
  p {
    width: 15vw;
  }
  div {
    width: 15vh;
    cursor: pointer;
  }
}
