.work {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 11rem;
    font-weight: 400;
  }
}

.work-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  li {
    padding: 2% 0;
    font-size: 10rem;
  }
}

.work-title {
  display: flex;
  min-height: 30vh;
  align-items: center;
}
