.header {
  display: flex;
  position: fixed;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  padding-top: 1rem;
  font-size: 1.5rem;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
  div {
    cursor: pointer;
  }
}

.dark-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.moon {
  fill: currentColor;
}
.sun {
  fill: currentColor;
}
svg {
  height: 30%;
}

.hidden {
  display: none;
  transition: all 0.3s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
}
